# Docker build context exclusions
vendor
node_modules
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
.env
.git
.github
tests
*.md
Dockerfile
docker-compose.yml
.dockerignore
*.log
.DS_Store
